/*place global styles here */
html,
body {
	@apply h-full;
	/* back */
	background-image: none !important;
	@apply !bg-white;
}

@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

